<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
    <h1>WELCOME TO GEOLOC APP</h1>
    <br><br>
    <h2>OPTIONS: </h2>
    <br>
    <a href="/redirect/">/redirect/ Redirects to ipstack</a>
    <br>
    <a href="/get/">/get/ Submits your IP to DB and generates geolocation data</a>
    <br>
    <a href="/api/token/">/api/token/ Allows for login and JWT token retrieval</a>
    <br>
    <a href="/api/token/refresh/">/api/token/refresh/ Allows for JWT token refresh</a>
    <br>
    <a href="/api/v1/geoloc/">/api/v1/geoloc/ When accessed with a token as a header(Bearer) shows the API View</a>
    <br>
    <a href="/api/v1/geoloc/new">/api/v1/geoloc/new/ Allows creation of geolocation instance</a>
    <br>
    <br>
    <h3>Hints:</h3>
    <br>
    <h3>/get/ can be also used with chosen IP address, like "/get/192.168.255.129</h3>
    <br>
    <h3>/api/geoloc/ can be also used with id of the location at the end, this allows i.e DELETE method</h3>


</body>
</html>